name: Build Android APK

on:
  push:
    branches:
      - staging
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    environment: ${{ github.ref_name }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Expo
        run: npm install -g expo

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Set Firebase Env
        run: |
          echo "EXPO_PUBLIC_FIREBASE_API_KEY=${{ secrets.EXPO_PUBLIC_FIREBASE_API_KEY }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=${{ secrets.EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_FIREBASE_PROJECT_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_PROJECT_ID }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=${{ secrets.EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_FIREBASE_APP_ID=${{ secrets.EXPO_PUBLIC_FIREBASE_APP_ID }}" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_USE_FIREBASE_EMULATOR=false" >> $GITHUB_ENV
          echo "EXPO_PUBLIC_ENV=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Prebuild Expo
        run: npx expo prebuild --platform android --clean --no-install
        env:
          NODE_OPTIONS: --max-old-space-size=4096

      - name: Build APK
        run: |
          cd android
          ./gradlew assembleRelease --no-daemon
        env:
          NODE_OPTIONS: --max-old-space-size=4096

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-${{ github.ref_name }}
          path: android/app/build/outputs/apk/release/app-release.apk